<div class="home-controls">
  <a href="/<%= @book_file_name -%>.html">Download HTML</a><br/>
  <a href="/<%= @book_file_name -%>.pdf">Download PDF</a>
</div>

<div class="title"><%= @title -%></div>
<div class="subtitle"><%= @subtitle -%></div>

<div id="toc">
  <% @toc_entry_hashes.each do |entry|
       level_class = entry[:level].blank? ? 'no-level' :
	   "level#{entry[:level]}"
   %>
    <div class="entry <%= level_class -%>">
      <div class="tool-widget">X</div>
      <% if entry[:number].present? %>
	<span class="number"><%= entry[:number] -%></span>
      <% end %>
      <span class="text"><%= entry[:text] -%></span>
    </div>
  <% end %>
</div>
