<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title -%></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>

    <link rel="stylesheet"
        media="only screen and (max-device-width: 480px)"
        type="text/css" href="/assets/iOS.css" />
    <link rel="stylesheet"
        media="only screen and (-webkit-min-device-pixel-ratio: 2)"
        type="text/css" href="/assets/iOS.css" />
    <link rel="stylesheet"
        media="only screen and (max-device-width: 1024px)"
        type="text/css" href="/assets/iOS.css" />
  </head>
  <body>
    <div id="body-wrapper">
      <%= yield %>

      <div id="footer-spacer"></div>
      <div id="footer-push"></div>
    </div>

    <%= render :partial => "layouts/footer" %>

    <script type="text/javascript">
      var h = document.getElementById('book-footer').scrollHeight;
      document.getElementById('footer-spacer').style.height = (h+10)+"px";
    </script>
  </body>
</html>
